@model Zara_GestionDVD.Models.DVD

@{
    ViewData["Title"] = "Détails du DVD";
    Layout = "_Layout";
}

<h1>Détails du DVD</h1>

<div class="container">
    <h4>DVD</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3 fw-bold">
            @Html.DisplayNameFor(model => model.TitreFrancais)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.TitreFrancais)
        </dd>

        <dt class="col-sm-3 fw-bold">
            @Html.DisplayNameFor(model => model.TitreOriginal)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.TitreOriginal)
        </dd>

        <dt class="col-sm-3 fw-bold">
            @Html.DisplayNameFor(model => model.AnneeSortie)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.AnneeSortie)
        </dd>

        <div class="col-12">
            <h4>Catégorie</h4>
            <p class="border p-2">@Model.Categorie</p>
        </div>

        <dt class="col-sm-3 fw-bold">
            @Html.DisplayNameFor(model => model.DerniereMiseAJour)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.DerniereMiseAJour)
        </dd>

        <dt class="col-sm-3 fw-bold">
            @Html.DisplayNameFor(model => model.DerniereMiseAJourPar)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.DerniereMiseAJourPar)
        </dd>

        <dt class="col-sm-3 fw-bold">
            @Html.DisplayNameFor(model => model.DescriptionSuppléments)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.DescriptionSuppléments)
        </dd>

        <dt class="col-sm-3 fw-bold">
            @Html.DisplayNameFor(model => model.DureeHeures)
        </dt>
        <dd class="col-sm-9">
            @Model.DureeHeures heures @Model.DureeMinutes minutes
        </dd>

        <dt class="col-sm-3 fw-bold">
            @Html.DisplayNameFor(model => model.EstDVDOriginal)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.EstDVDOriginal)
        </dd>

        <dt class="col-sm-3 fw-bold">
            @Html.DisplayNameFor(model => model.Format)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Format)
        </dd>

        <dt class="col-sm-3 fw-bold">
            @Html.DisplayNameFor(model => model.LanguesDisponibles)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.LanguesDisponibles)
        </dd>

        <dt class="col-sm-3 fw-bold">
            @Html.DisplayNameFor(model => model.NombreDisques)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.NombreDisques)
        </dd>

        <dt class="col-sm-3 fw-bold">
            @Html.DisplayNameFor(model => model.NomProducteur)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.NomProducteur)
        </dd>

        <dt class="col-sm-3 fw-bold">
            @Html.DisplayNameFor(model => model.NomRealisateur)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.NomRealisateur)
        </dd>

        <dt class="col-sm-3 fw-bold">
            @Html.DisplayNameFor(model => model.ActeursPrincipaux)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ActeursPrincipaux)
        </dd>

        <dt class="col-sm-3 fw-bold">
            @Html.DisplayNameFor(model => model.ResumeFilm)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ResumeFilm)
        </dd>

        <dt class="col-sm-3 fw-bold">
            @Html.DisplayNameFor(model => model.SousTitresDisponibles)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SousTitresDisponibles)
        </dd>

        <dt class="col-sm-3 fw-bold">
            @Html.DisplayNameFor(model => model.PropriétaireId)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.PropriétaireId)
        </dd>

        <dt class="col-sm-3 fw-bold">
            @Html.DisplayNameFor(model => model.EmprunteurId)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.EmprunteurId)
        </dd>

        <dt class="col-sm-3 fw-bold">
            @Html.DisplayNameFor(model => model.VersionEtendue)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.VersionEtendue)
        </dd>

        <dt class="col-sm-3 fw-bold">
            @Html.DisplayNameFor(model => model.VisibleATous)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.VisibleATous)
        </dd>
    </dl>
</div>

<div class="d-flex justify-content-between">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Modifier</a>
    <a asp-action="Index" class="btn btn-secondary">Retour à la liste</a>
</div>